* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  background-color: rgba(0, 0, 0, 0.9) !important;
  height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ------------------------------------------------------------- */

/* NavBar */
.navbar{
  background-color: rgba(0, 0, 0, 0.1);
}
.aaa a {
  color: white
}

.aaa{
  color: #BF9B30;
  margin-left: auto;
}
.aaa a:hover{
  color: white;
} 
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #BF9B30 !important;
}
.navbar-toggler-icon{
  background-color: white;

}
/* ======================================= */

/* section */
.all-project {
  height: 100vh;
  background-image: url(./image/secondary_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.opicity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white; 
  padding: 20px;
  overflow-y: auto; /* Enable scrolling inside this div if needed */
}

.hheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.line{
  width: 55px;
  height: 2px;
  background-color: #BF9B30;
   margin: 10px 30px;
   display: block;
}
.grid{
  width: 100%;
  height: auto;
}
.icons{
  color: #BF9B30;
  font-size: 20px;
  text-align: center;
}


.table tbody tr td{
  text-align: center;
  height: 90px;
  background-color: rgba(38, 36, 36, 0.7);
  color: white;
  border: 0;
  padding-top: 35px;
}
.table thead tr td{
  text-align: center;
  background-color: rgba(38, 36, 36, 0.7);
  color: white;
  border: 0;
}
.rr{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rrr{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.search-container {
  position: relative;
  display: inline-block; 
  width: 100%; 
}



.search-icon {
  position: absolute;
  left: 180px; 
  top: 50%;
  transform: translateY(-50%); 
  color: #BF9B30; 
  pointer-events: none; 
}


.next {
  display: flex;
  justify-content: end;
  margin: 0 10px;
}

.next1 .page-item {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.next1 .page-item .page-link {
  color: #BF9B30; 
}

.next1 .page-item.active .page-link {
  background-color: rgba(0, 0, 0, 0.1); 
  color: white; 
}

.next1 .page-link {
  border: none;
}

.next1 .page-link:hover {
  background-color: rgba(38, 36, 36, 0.8);
  color: white;
}
@media (max-width: 768px) {
 .table tbody tr td{
  display: block;
 }
 .table thead tr td{
  display: block;
 }
 .table tbody tr td .icons{
  display: flex;
  justify-content: space-around;
 }
}
