* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgba(0, 0, 0) !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------- */

/* NavBar */
.navvv {
  background-color:transparent !important;
  color: white;
}
.bar{
  height: auto;
  background-color: black;
}
.aaa a {
  color: white;
}

.aaa {
  color: white;
}
.aaa a:hover {
  color: white;
}
.bar .nav-link.active,
.bar .nav-link.show {
  color: #bf9b30 !important;
}
.navbar-toggler-icon {
  background-color: white;
}

.tt{
  background-color: #282c34;
}
.tt a:hover{
  color: #282c34;
}

.lis ul{
  margin: auto;
  color: white !important;
}
.navvv .nav-link.active {
  color: white !important;
}
/* ======================================= */

/* section */
.all-project {
  height: 100vh;
  background-image: url(./image/secondary_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

}
.admin-banel{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.sec2{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;

}

.opicity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  overflow-y: auto; /* Enable scrolling inside this div if needed */
}

.hheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: 150px;
}

.line {
  width: 55px;
  height: 2px;
  background-color: #bf9b30;
  margin: 10px 30px;
  display: block;
}
.grid {
  width: 100%;
  height: auto;
}
.icons {
  color: #bf9b30;
  font-size: 20px;
  text-align: center;
}

.det-left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  .det-left{
    background-color: rgba(0, 0, 0, 0.5);
    height: 670px;
    padding: 10px 10px;
  }
  
  .det-left ul li a {
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  }
  
  .det-left ul li a:hover {
  background-color: #ddd;
  }
  
  .det-left ul li ul {
  display: none;
  }
  
  .det-left li:hover ul {
  display: block;
  }
  .head-det{
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 5px;
  margin:20px 0;
  border-radius:5px ;
  
  }
.table tbody tr td {
  text-align: center;
  height: 90px;
  background-color: rgba(38, 36, 36, 0.7);
  color: white;
  border: 0;
  padding-top: 35px;
}
.table thead tr td {
  text-align: center;
  background-color: rgba(38, 36, 36, 0.7);
  color: white;
  border: 0;
}
.rr {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rrr {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 180px;
  top: 50%;
  transform: translateY(-50%);
  color: #bf9b30;
  pointer-events: none;
}

.next {
  display: flex;
  justify-content: end;
  margin: 0 10px;
}

.next1 .page-item {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.next1 .page-item .page-link {
  color: #bf9b30;
}

.next1 .page-item.active .page-link {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.next1 .page-link {
  border: none;
}

.next1 .page-link:hover {
  background-color: rgba(38, 36, 36, 0.8);
  color: white;
}

.footer{

  height: 300px;
  background-color:rgba(0, 0, 0, 0.5);
}
.words-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.footer ul{
  display: flex;
justify-content: space-evenly;
}
.footer li{
list-style: none;
margin-left: 20px;

}

.after-footer{
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
@media (max-width: 912px) {
  .rr,
  .rrr {
    border-radius: 0;
  }
  .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.det-left{
  display: block;
  /* margin-top: 20px; */
}
.sec2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  .table tbody tr td {
    display: block;
  }
  .table thead tr td {
    display: block;
  }
  .table tbody tr td .icons {
    display: flex;
    justify-content: space-around;
  }
}
